.breadcrumbs {
  background: $c-background;
  font-size: 0.8em;
  list-style: none;
  max-width: $card-max-width;

  @include bp($small)  {
    max-width: calc(100% - 116px + 24px);
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }

  .title {
    display: block;
  }

  .breadcrumb {
    float: left;
    list-style: none;
    margin: 0 8px 0 0;
    // margin-right: 15px;
    padding: 0;

    &:not(:first-child) {
      .title::before {
        content: '>';
        display: inline-block;
        margin: 0 8px 0 0;
      }
    }
  }
}