.breadcrumbs {
  background: $c-background;
  font-size: 0.8em;
  list-style: none;
  max-width: $card-max-width;

  &::after {
    clear: both;
    content: '';
    display: block;
  }

  .title {
    display: block;
  }

  .breadcrumb {
    float: left;
    list-style: none;
    margin: 0;
    // margin-right: 15px;
    padding: 0;

    &:not(.last) {
      .title::after {
        content: '>';
        display: inline-block;
        margin: 0 8px;
      }
    }
  }
}