.breadcrumbs {
  background: $c-background;
  font-size: 0.8em;
  left: 50%;
  list-style: none;
  max-width: $card-max-width;
  position: absolute;
  top: 40px;
  transform: translateX(-50%);
  width: $card-width;
  z-index: 10;
  &::after {
    clear: both;
    content: '';
    display: block;
  }
  .breadcrumb {
    float: left;
    margin-right: 15px;
  }
}