@for $i from 1 through 20 {
  .delay--#{$i} {
    animation: fade-in-slide-up $transition-duration ease forwards;
    animation-delay: $fade-delay + $fade-delay * $i;
    opacity: 0;
    transform: translateY(20px);
  }
}

@for $i from 1 through 20 {
  .fade--#{$i} {
    animation: fade-in $transition-duration ease forwards;
    animation-delay: $fade-delay + $fade-delay * $i;
    opacity: 0;
    transform: translateY(20px);
  }
}

.text-center {
  text-align: center;
}

.page-enter-active {
  display: none;
}

.page-exit-active {
  animation: fade-out $transition-duration / 2 ease forwards;
}
