.App {
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  position: relative;

  > div:not([class]) {
    align-items: center;
    display: flex;
    min-height: calc(100vh - (50px + 65px));
    width: 100%;

    @include bp($small) {
      align-items: initial;
      // min-height: calc(100vh - (50px + 65px + 80px));
    }
  }
}