h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-special;
  margin-bottom: .6em;
  transition: font-size $transition-duration ease, color $transition-duration ease;
}

@for $i from 1 through 6 {
  $count: 6 - $i;

  h#{$i} {
    @include font-size-header($count);
  }
}

p {
  font-size: 1em;
  margin-bottom: 0.8em;
  transition: font-size $transition-duration ease, color $transition-duration ease;
}
