/**
 * Colors
 */
/**
 * Typography
 */
/**
 * Breakpoints
 */
/**
 * Animations
 */
/**
 * Layout
 */
/**
 * Menu
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #FFF;
  color: #333;
  font-family: "Quattrocento Sans", Sans-Serif;
  font-size: 20px;
  line-height: 1.4; }
  @media (max-width: 768px) {
    body {
      font-size: 16px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ovo", Serif;
  margin-bottom: .6em;
  transition: font-size 350ms ease, color 350ms ease; }

h1 {
  font-size: 3.5em; }
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-size: 3em; }
  @media (max-width: 768px) {
    h2 {
      font-size: 2.2em; } }

h3 {
  font-size: 2.5em; }
  @media (max-width: 768px) {
    h3 {
      font-size: 1.9em; } }

h4 {
  font-size: 2em; }
  @media (max-width: 768px) {
    h4 {
      font-size: 1.6em; } }

h5 {
  font-size: 1.5em; }
  @media (max-width: 768px) {
    h5 {
      font-size: 1.3em; } }

h6 {
  font-size: 1em; }
  @media (max-width: 768px) {
    h6 {
      font-size: 1em; } }

p {
  font-size: 1em;
  margin-bottom: 0.8em;
  transition: font-size 350ms ease, color 350ms ease; }

.icon {
  height: auto; }

.icon--card {
  display: block;
  margin: 40px auto;
  width: 200px; }
  @media (max-width: 767px) {
    .icon--card {
      margin-top: 0;
      width: 140px; } }

/**
 * Transitions
 */
/**
 * Animations
 */
@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.delay--1 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 233.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--2 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 350ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--3 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 466.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--4 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 583.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--5 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 700ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--6 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 816.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--7 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 933.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--8 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 1050ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--9 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 1166.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--10 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 1283.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--11 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 1400ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--12 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 1516.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--13 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 1633.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--14 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 1750ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--15 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 1866.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--16 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 1983.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--17 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 2100ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--18 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 2216.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--19 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 2333.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--20 {
  animation: fade-in-slide-up 350ms ease forwards;
  animation-delay: 2450ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--1 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 233.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--2 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 350ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--3 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 466.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--4 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 583.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--5 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 700ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--6 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 816.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--7 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 933.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--8 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1050ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--9 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1166.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--10 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1283.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--11 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1400ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--12 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1516.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--13 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1633.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--14 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1750ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--15 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1866.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--16 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1983.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--17 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 2100ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--18 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 2216.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--19 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 2333.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.fade--20 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 2450ms;
  opacity: 0;
  transform: translateY(20px); }

.text-center {
  text-align: center; }

.page-enter-active {
  display: none; }

.page-exit-active {
  animation: fade-out 175ms ease forwards; }

.h-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.App {
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  position: relative; }
  .App > div:not([class]) {
    align-items: center;
    display: flex;
    min-height: calc(100vh - (50px + 65px));
    width: 100%; }

.header {
  width: 100%; }
  .header .header-content {
    margin: 0 auto;
    max-width: 900px;
    padding: 24px 48px;
    position: relative; }

.footer {
  border-top: 1px solid #efefef;
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  width: 100%; }

.menu {
  list-style: none; }
  .menu__control {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 24px 48px;
    position: absolute;
    right: 0;
    top: 0;
    transition: padding 350ms ease;
    z-index: 20; }
    .menu__control:focus {
      outline: none; }
    .menu__control:hover .ellipse {
      margin-left: 0;
      width: 20px; }
    .menu__control .ellipse {
      display: block;
      background: #333;
      border-radius: 4px;
      height: 4px;
      margin: 0 0 2px 16px;
      transition: all 350ms ease;
      width: 4px; }
      .menu__control .ellipse:nth-child(1) {
        transition-delay: 0; }
      .menu__control .ellipse:nth-child(2) {
        transition-delay: 87.5ms; }
      .menu__control .ellipse:nth-child(3) {
        transition-delay: 175ms; }
    .menu__control--open {
      padding-right: 12px; }
      .menu__control--open .ellipse {
        margin-left: 0;
        transition-delay: 0; }
        .menu__control--open .ellipse:nth-child(1), .menu__control--open .ellipse:nth-child(3) {
          transform: rotate(45deg) translateY(8px);
          transition-delay: 0;
          width: 32px; }
        .menu__control--open .ellipse:nth-child(3) {
          transform: rotate(-45deg) translateY(-8px); }
        .menu__control--open .ellipse:nth-child(2) {
          transition-delay: 0;
          margin-left: 8px;
          width: 4px; }
  .menu__item {
    font-size: 1em;
    margin-bottom: 12px; }
    .menu__item-link {
      color: #333;
      padding-left: 40px;
      position: relative;
      text-decoration: none; }
    .menu__item-icon {
      display: inline-block;
      margin-right: 12px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 28px; }

.navigation-menu {
  bottom: 0;
  box-shadow: -50vw 0 0 rgba(0, 0, 0, 0.2);
  background: white;
  opacity: 0;
  padding: 48px 36px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 350ms ease;
  width: calc(70% - 20px);
  z-index: 10; }
  .navigation-menu .menu__item {
    opacity: 0;
    transform: translateX(20px);
    transition: all 350ms ease; }
    .navigation-menu .menu__item:nth-child(1) {
      transition-delay: 350ms; }
    .navigation-menu .menu__item:nth-child(2) {
      transition-delay: 466.66667ms; }
    .navigation-menu .menu__item:nth-child(3) {
      transition-delay: 583.33333ms; }
  .navigation-menu--open {
    opacity: 1;
    pointer-events: initial;
    width: 70%; }
    .navigation-menu--open .menu__item {
      opacity: 1;
      transform: translateX(0); }

.breadcrumbs {
  background: #FFF;
  font-size: 0.8em;
  list-style: none;
  max-width: 900px; }
  .breadcrumbs::after {
    clear: both;
    content: '';
    display: block; }
  .breadcrumbs .title {
    display: block; }
  .breadcrumbs .breadcrumb {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    .breadcrumbs .breadcrumb:not(.last) .title::after {
      content: '>';
      display: inline-block;
      margin: 0 8px; }

.card {
  flex-shrink: 0;
  margin: 0 auto;
  max-width: 900px;
  padding: 100px 0;
  width: 80%; }
  @media (max-width: 768px) {
    .card {
      padding: 50px 0 65px; } }
  .card__title {
    text-align: center; }
  .card__subtitle {
    font-weight: 100;
    margin-bottom: 0;
    text-align: center; }
  .card__locations {
    margin: 36px 0; }
    .card__locations-title {
      font-size: 1.2em;
      margin-bottom: 24px; }
  .card__location-link {
    margin-bottom: 12px;
    position: relative; }
  .card__location-icon {
    display: inline-block;
    margin-right: 24px;
    width: 60px;
    vertical-align: middle; }
    .card__location-icon ~ .card__location-description {
      width: calc(100% - 84px); }
    .card__location-icon--cauldron {
      width: 42px;
      margin-left: 18px; }
  .card__location-description {
    display: inline-block;
    vertical-align: middle; }
