/**
 * Colors
 */
/**
 * Typography
 */
/**
 * Breakpoints
 */
/**
 * Animations
 */
/**
 * Layout
 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

body {
  background: #FFF;
  color: #333;
  font-family: "Quattrocento Sans", Sans-Serif;
  font-size: 20px;
  line-height: 1.4; }
  @media (max-width: 768px) {
    body {
      font-size: 16px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ovo", Serif;
  margin-bottom: .6em;
  transition: font-size 350ms ease, color 350ms ease; }

h1 {
  font-size: 3.5em; }
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-size: 3em; }
  @media (max-width: 768px) {
    h2 {
      font-size: 2.2em; } }

h3 {
  font-size: 2.5em; }
  @media (max-width: 768px) {
    h3 {
      font-size: 1.9em; } }

h4 {
  font-size: 2em; }
  @media (max-width: 768px) {
    h4 {
      font-size: 1.6em; } }

h5 {
  font-size: 1.5em; }
  @media (max-width: 768px) {
    h5 {
      font-size: 1.3em; } }

h6 {
  font-size: 1em; }
  @media (max-width: 768px) {
    h6 {
      font-size: 1em; } }

p {
  font-size: 1em;
  margin-bottom: 0.8em;
  transition: font-size 350ms ease, color 350ms ease; }

/**
 * Transitions
 */
/**
 * Animations
 */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.delay--1 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 233.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--2 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 350ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--3 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 466.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--4 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 583.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--5 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 700ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--6 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 816.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--7 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 933.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--8 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1050ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--9 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1166.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--10 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1283.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--11 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1400ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--12 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1516.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--13 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1633.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--14 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1750ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--15 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1866.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--16 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 1983.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--17 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 2100ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--18 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 2216.66667ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--19 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 2333.33333ms;
  opacity: 0;
  transform: translateY(20px); }

.delay--20 {
  animation: fade-in 350ms ease forwards;
  animation-delay: 2450ms;
  opacity: 0;
  transform: translateY(20px); }

.text-center {
  text-align: center; }

.page-enter-active {
  display: none; }

.page-exit-active {
  animation: fade-out 175ms ease forwards; }

.App {
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  position: relative; }
  .App > div:not([class]) {
    align-items: center;
    display: flex;
    min-height: calc(100vh - 50px);
    width: 100%; }

.footer {
  border-top: 1px solid #efefef;
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  width: 100%; }

.breadcrumbs {
  background: #FFF;
  font-size: 0.8em;
  left: 50%;
  list-style: none;
  max-width: 900px;
  position: absolute;
  top: 40px;
  transform: translateX(-50%);
  width: 80%;
  z-index: 10; }
  .breadcrumbs::after {
    clear: both;
    content: '';
    display: block; }
  .breadcrumbs .title {
    display: block; }
  .breadcrumbs .breadcrumb {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    .breadcrumbs .breadcrumb:not(.last) .title::after {
      content: '>';
      display: inline-block;
      margin: 0 8px; }

.card {
  flex-shrink: 0;
  margin: 0 auto;
  max-width: 900px;
  padding: 100px 0;
  width: 80%; }
  @media (max-width: 768px) {
    .card {
      padding: 100px 0 50px; } }
  .card__title {
    text-align: center; }
  .card__subtitle {
    font-weight: 100;
    margin-bottom: 0;
    text-align: center; }
