@import './partials/variables';
@import './partials/reset';
@import './partials/typography';
@import './partials/animations';
@import './partials/helpers';
@import './partials/layout';
@import './partials/breadcrumbs';
@import './partials/cards';

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
